html, body {
    margin:0;
    padding:0;
}

.container {
    font-size:0;
    font-family:'Open Sans',Verdana;
}

.container header {
    font-size:0;
    box-shadow:1px 0 5px rgba(0,0,0,.2);
    padding:40px;
    height: 100%;
}

.ccn .intro {
    font-size:14px;
    padding-bottom:20px;
    text-align:justify;
    line-height:1.5
}

.ccn .headline {
    font-size:18px;
    text-align:center;
    padding:20px 0;
}

.ccn .case {
    margin:0;
    font-size:0;
    background-position:50% 10px;
    background-size:auto 160px;
    background-repeat:no-repeat;
    padding:30px;
    box-sizing:border-box;
    color:#FFF;
    height: 100%;
}

.ccn .case h3 {
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: bold;
    padding-bottom: 8px;
}

.ccn .col1 {
    font-size: 13px;
    color: #FFF;
    text-align:center;
    margin-top:120px;
}

.ccn .col2 {
    font-size:12px;
    line-height:1.4;
    text-align:justify;
}

.ccn .subtitle {
    font-size:16px;
    line-height:1.4;
    margin:0px 0 20px 0;
}

.ccn .more {
    color:rgba(255,255,255,.7);
    margin-top:12px;
}

.ccn .forms {
    font-size:13px;
    text-align:center;
    background:#F9F9F9;
    padding:40px;
    margin:0 -40px
}

.ccn .form {
    display:inline-block;
    padding:20px 30px 17px 30px;
    margin-top:10px;
    font-size:14px;
    text-align:center;
    background:#eee;
    border-radius:3px;
    color:#333;
    text-decoration:none;
}

.ccn .info {
    color:#666;
    font-style:italic;
    text-align:center;
    font-size:13px;
}

#c1418 {
    background-image:url('../app/vendor/laclasse-common-client/images/thematiques/icon_14-18.svg');
}

#habiter {
    background-image:url('../app/vendor/laclasse-common-client/images/thematiques/icon_habiter.svg');
}

#air {
    background-image:url('../app/vendor/laclasse-common-client/images/thematiques/icon_air-2014.svg');
}

#zerogaspi {
    background-image:url('../app/vendor/laclasse-common-client/images/thematiques/icon_zero-gaspi.svg');
}

#code {
    background-image:url('../app/vendor/laclasse-common-client/images/thematiques/icon_code.svg');
}



/* Gwenhael */
div {
    height: auto;
}
