<div class="modal-header">
    <h3 class="modal-title">Changement de mot de passe</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
             ng:class="{'has-error': current_user.wrong_password}">
            <label class="control-label" for="oldpasswd">entrer l'ancien mot de passe :</label class="control-label">
            <input type="password"
                   id="oldpasswd"
                   class="form-control"
                   ng:change="mark_as_dirty()"
                   ng:model="password.old">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
             ng:class="{ 'has-error': password.new1 !== password.new2 }">
            <label class="control-label" for="newpasswd1">entre le nouveau mot de passe :</label class="control-label">
            <input type="password"
                   id="newpasswd1"
                   class="form-control"
                   ng:change="mark_as_dirty()"
                   ng:model="password.new1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
             ng:class="{ 'has-error has-feedback': password.new1 !== password.new2 }">
            <label class="control-label" for="newpasswd2">confirmer le nouveau mot de passe :</label class="control-label">
            <input type="password"
                   id="newpasswd2"
                   class="form-control"
                   ng:change="mark_as_dirty()"
                   ng:model="password.new2">
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"
                  aria-hidden="true"
                  ng:if="password.new1 !== password.new2"></span>
            <span class="help-block pull-right"
                  ng:if="password.new1 !== password.new2">Confirmation incorrecte</span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng:click="fermer( true )"
            ng:disabled="( password.old === '' ) || ( password.new1 === '' ) || ( password.new1 !== password.new2 )">Enregistrer</button>
</div>
