<div class="modal-header">
    <h3 class="modal-title">Ajouter une case</h3>
</div>
<div class="modal-body available-apps">
    <ul>
        <li class="new-app"
            ng:repeat="app in apps"
            ng:if="app.available() || app.creation"
            ng:class="{'selected': app.selected, 'creation': app.creation, 'pronote': app.application_id == 'PRONOTE'}"
            ng:click="selected( app )">

            <a ng:if="!app.creation"
               title="{{ app.description }}"
               ng:style="{'background-color': app.color }">
                <img draggable="false" class="icone" ng:src="{{prefix}}/{{app.icon}}"
                     ng:if="app.icon"/>
                <span class="app-name" ng:cloak>{{ app.libelle }}</span>
                <label ng:if="app.application_id == 'PRONOTE'">lien <input type="text" ng:model="app.url" ng:click="keep_app_selected( $event, app )"/></label>
            </a>

            <fieldset ng:if="app.creation">
                <legend>lien libre</legend>

                <label>libellé <input type="text" ng:model="app.libelle" ng:click="keep_app_selected( $event, app )" /></label>
                <label>lien <input type="text" ng:model="app.url" ng:click="keep_app_selected( $event, app )" /></label>
            </fieldset>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng:click="cancel()">
        <span class="glyphicon glyphicon-remove-sign"></span> <span ng:if="apps_selected">Annuler</span><span ng:if="!apps_selected">Fermer</span>
    </button>
    <button class="btn btn-success"
            ng:click="ok()"
            ng:disabled="!apps_selected">
        <span class="glyphicon glyphicon-ok-sign"></span> Valider
    </button>
</div>
