# -*- encoding: utf-8 -*-

#
# Fichier de configuration de l'application
#

# development ou production
ENV[ 'RACK_ENV' ] = 'development'

# niveau de log de l'application
LOG_LEVEL = Logger::INFO

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path( File.join( File.dirname( __FILE__ ), '..' ) )

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '/portail'.freeze

# Langage par défaut de l'application
LANG = 'fr'.freeze

# Clé de hachage pour les cookies Rack
SESSION_KEY = 'Some secret gibberish key'.freeze

# Durée de la session en seconde (défaut 3600)
SESSION_TIME = 3600

#
APP_VERSION = %x( git describe --tag ).chomp

# Url de l'ENT
URL_ENT = 'https://v3dev.laclasse.com/'.freeze

# nom du serveur d'annuaire ENT (xml-aaf académiques)
SERVICE_ANNUAIRE_ENT = 'http://www.dev.laclasse/com/annuaire/'.freeze

#
# Configuration du Serveur d'Authentification Central CAS
#
module CASAUTH
  CONFIG = { host: 'v3dev.laclasse.com',
             ssl: true,
             port: 443,
             disable_ssl_verification: true,
             login_url: '/sso/login',
             service_validate_url: '/sso/serviceValidate',
             logout_url: '/sso/logout',
             logout_saml_url: '/saml/saml2/idp/SingleLogoutService.php',
             full_host: 'https://v3dev.laclasse.com', # Fixes OmniAuthCAS+Rack X-Forwarded-Proto crap
             restmod_url: '/sso/api/v1/tickets' }.freeze
end

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = { url:                            'https://v3dev.laclasse.com/api',
             api_key:                        'Another secret gibberish key generated by the Annuaire',
             app_id:                         'PORTAIL',
             api_mode:                       'v3',
             service_annuaire_user:          'app/users/',
             service_annuaire_regroupements: 'app/regroupements/',
             service_annuaire_profils:       'app/profils/',
             service_annuaire_personnel:     'app/etablissements/',
             service_annuaire_diffusionInfo: 'app/diffusionInfo/',
             service_annuaire_publipostage:  'app/publipostages/' }.freeze

#
# Configuration du service REDIS
#
REDIS = { host: 'redis.v3.laclasse.lan',
          port: 6379,
          redis_root: 'com:laclasse:v3:dev' }.freeze
